{% extends 'base.html' %}

{% block content %}

<style>

.container{
    margin-top:100px;
    margin-left:70px;
    font-family: Times, Helvetica, sans-serif;
    color: Black;
        
    }
    
    body {
        
        background-color: lightgrey;
            
    }
    
</style>
    
            
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
           <h1 style="font-size: 80px;">
          <b>About</b></h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Food Delivery</p>
            <p>Restaurant</p>
            <p>Location</p>
        </div>
    </div>
</div>
{% endblock content %}