{% extends 'base.html' %}

{% block content %}

<style>

.container{
    margin-top:80px;
    margin-left:60px;
    font-family: Times, Helvetica, sans-serif;
    color: Black;
        
    }
    
    body {
        
        background-color: lightgrey;
            
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
   
    
</style>

<div class="topnav">
  <a class="active" href="{% url 'home' %}">HOME</a>
</div>
    
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
           <h1 style="font-size: 50px;">
          <b>About Indian Restaurant- ATITHI</b></h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Indian Restaurant - Atithi, an inviting taste of Pune in the heart of India! Order from our restaurant and immerse yourself in the vibrant flavours and warm food that define Indian cuisine.</p>
            <p>Treat yourself to our mouth-watering South-Indian, including the Punjabi, Indo-Chines. Our menu features a range of savory options, from Dosa to mouth-watering Butter Chicken. Unpretentious  restaurant fixing up local & global dishes & desserts, plus milkshakes.</p>
            <p>We can't wait to share our love for Indian cuisine with you, one delicious bite at a time! Order now from the best Indian Restaurant.</p>
        </div>
    </div>
</div>
{% endblock content %}